<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>

</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <form action="/process_form" method="post">
            <label for="lang">Choose a language:</label>
                <select name="lang" id="lang">
                    <option value="Python">Python</option>
                    <option value="C">C</option>
                    <option value="C#">C#</option>
                    <option value="Java">Java</option>
                    <option value="JavaScript">JavaScript</option>
                </select>
  <br><br>
        
            <input class="btn btn-lg btn-primary btn-block" type="submit">
        </form>
        
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>